<!-- Citations Modal -->
<div class="modal fade" id="citations-modal" tabindex="-1" role="dialog"
     aria-labelledby="citationsModalHdr" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="citationsModalHdr">Citations</h4>
                <button type="button" class="close btn-close" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div class="modal-body">
                <p class="fs-4">If you use images from the <span class="cite-type">selected cohort or cart</span>, please acknowledge by citing the following:</p>
                <div class="citations-wrapper">
                    <button type="button" class="citations copy-this btn btn-default"
                        content="cites"
                        title="Copy all citations to clipboard">
                        <i class="fa-solid fa-copy" aria-hidden="true"></i>
                    </button>
                    <pre class="code citations-list">

                    </pre>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>